@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

.scale {
	display: block;
	width:45%;
	height:45%;
	line-height: 70px;
	float:left;
	-moz-border-radius: 35px;
	border-radius: 35px;
    font-family: sans-serif;
    vertical-align: middle;
    line-height: 220px;
   	font-size: 70px;
    text-align: center;
    text-decoration: none;
    color: gray;
    font-weight: bold;
	float:left;
	padding: 15 15 15 15;
}

ul { 
	margin: 0 0 0 0;
}

#send{
	display: block;
}

.player {
	background-image: url('person.png');
	background-size: 60px 60px;
    background-repeat: no-repeat;
	float: right;
	width:70px;
	height:70px;
	text-align:;
}

.number {
	display: block;
}

#left {
	background-color: #849b06;
}

#right {
	background-color: #9b0684;
}

#available {
	clear:left;
	display:block;
	background-color:gray;
	display: block;
	width:45%;
	height:45%;
	line-height: 70px;
	float:left;
	-moz-border-radius: 35px;
	border-radius: 35px;
    font-family: sans-serif;
    vertical-align: middle;
    line-height: 220px;
   	font-size: 70px;
    text-align: center;
    text-decoration: none;
    color: gray;
    font-weight: bold;
	float:left;
	padding: 15 15 15 15;
}

.weight {
	display: block;

    font-family: sans-serif;
    vertical-align: middle;
    font-size:14px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
	float:left;
	-moz-border-radius: 35px;
	border-radius: 35px;
	vertical-align: middle;
}

.small{
	background-color: #CCCCCC;
    height: 40px;
	width: 40px;
    line-height: 40px;
    color: black;
}

.medium{
	background-color: #CCCC33;
    height: 60px;
	width: 60px;
	line-height: 60px;
    color: black;
}

.big{
	background-color: #CC3333;
    height: 90px;
	width: 90px;
    line-height: 90px;
    color: black;
}

.proposition{
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}